* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    
}

#main {
    height: 100%;
    width: 100%;
    background-color: #282C35;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes typing{
    from { width: 0; }
    to {width: 100%;}
}
h2{
    color: bisque;
    font-weight: bold;
    box-shadow: 3px 2px 2px burlywood;
    background-color: #282C35;
    font-size: 2.5rem;
    animation: typing 1s forwards;
    display: inline-block;
}
.card {
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    height: 300px;
    width: 230px;
    border: 1.5px solid salmon;
    border-radius: 20px;
    background-image: url(./images/pikachu.jpg);
    background-size: cover;
    box-shadow: 5px 5px 5px  gold;
    transition: 1s;
    
}
#card1{
    z-index: 5;
}

#card2 {
    z-index: 4;
    rotate: -7deg;
    background-image: url(./images/greninja.webp);
    box-shadow: 5px 5px 5px blue;
}


#card3 {
    z-index: 3;
    rotate: -14deg;
    background-image: url(./images/crocodile.jpg);
    background-position: center;
    box-shadow: 5px 5px 5px green;
}

#card4 {
    z-index: 2;
    rotate: -21deg;
    background-image: url(./images/arceus.webp);
    background-position: center;
    box-shadow: 5px 5px 5px whitesmoke;
}

#card5 {
    z-index: 1;
    rotate: -28deg;
    background-image: url(./images/masterleague.jpg);
    background-position: center;
    box-shadow: 5px 5px 5px red;
}

#card2:hover{
    z-index: 10;
}
#card3:hover{
    z-index: 10;
}
#card4:hover{
    z-index: 10;
}
#card5:hover{
    z-index: 10;
}